matplotlib
numpy<2
torch
torchvision
torchaudio
torchdiffeq
torchsde
scipy
scikit-learn
pot
phate
pyyaml
tqdm
seaborn
pandas
ipywidgets
anndata
scanpy
geomloss
scvelo
qnorm
plotly==6.5.2
kaleido==0.2.1
umap-learn
torch-geometric
imageio