matplotlib
numpy<2
torch
torchvision
torchaudio
torchdiffeq
torchsde
scipy
scikit-learn
pot
phate
pyyaml
tqdm
seaborn
pandas
ipywidgets
anndata
scanpy
geomloss
scvelo
qnorm
plotly
umap-learn
torch-geometric
